
@{
    ViewBag.Title = "VendDet";
    Layout = "~/Views/Shared/_InnerPage.cshtml";
}

<h2>Subscription Request</h2>


<div align="left">
    <table cellpadding="2"
           class="table"
           cellspacing="2"
           border="1">
        <tr class="btn-primary">
            <th> Name</th>
            <th> Mobile</th>
            <th> Email</th>
            <th> Address</th>
            <th> State</th>
            <th> Zip Code</th>
            <th> Company Name</th>
            <th> Company Type</th>
        </tr>
        @foreach (var Prod in ViewBag.listVendRegs)
        {
        <tr class="btn-success">
            <td>
                @Prod.Name
            </td>
            <td>
                @Prod.Mobile
            </td>
            <td>
                @Prod.Email
            </td>
            <td>
                @Prod.Address
            </td>
            <td>
                @Prod.State
            </td>
            <td>
                @Prod.ZipCode
            </td>
            <td>
                @Prod.CompanyName
            </td>
            <td>
                @Prod.CompanyType
            </td>
        </tr>
        }
    </table>
</div>

